<h1>Pet Listings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
<!--      <th>Picture</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.description %></td>
<!--        <td><%= pet.picture %></td> -->
        <td><%= link_to 'Show', pet %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <% end %>
<!--        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'Add a new pet', new_pet_path %>
<% end %>